 <div class="app-nav">
  <ul>
    <li><a routerLink="">Principal</a></li>
    <li><a routerLink="exemplo2">Exemplo2</a></li>
    <li><a routerLink="exemplo3/1">Exemplo3</a></li>
    <!-- <li><a routerLink="exemplo3/{{id}}">Exemplo3 com variável</a></li> -->
    <li><a routerLink="exemplo5">Exemplo5</a></li>
    <li><a routerLink="exemplo6">Exemplo6</a></li>
    <li><a routerLink="exemplo7">Exemplo7</a></li>
    <li><a routerLink="exemplo8">Exemplo8</a></li>
  </ul>
</div> 
<router-outlet></router-outlet>